<div class="row col-md-12">
  <div class="col-md-5 scroll">
    <img src="../assets/img/scroll2.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-7 next">
    <div class="row">
      <div class="col-md-6 top-ad">
          <h5>Most popular</h5><br>
        <img src="../assets/img/Gro.png" alt="">
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="featured">
        <h5>Featured deals</h5>
        <span><h6><a href="#">see more...</a> </h6></span>
      <div class="row  col-md-12">
        <div class="col-md-4 single"><square></square></div>
        <div class="col-md-4 single"><square></square></div>
        <div class="col-md-4 last"><square></square></div>
      </div>
    </div>  
  </div>
</div>