<div class="row col-md-12">
  <div class="col-md-5 scroll">
    <h3>importsBridge</h3>
    <div class="col-md-10 col-md-0ffset-1 text">
      <h1>SHIP FROM ANYWERE AROUND THE WORLD</h1>
    </div>
    
    <div class="search">
      <input type="text">
      <button><i class="fa fa-search"></i></button>
    </div>
    <img src="../assets/img/scroll2.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-7 next">
    <div class="row">
      <div class="col-md-6 top-ad">
          <h5>Most popular</h5><br>
        <img src="../assets/img/shoes.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="featured">
        <h5>Featured deals</h5>
        <span><h6><a href="#">see more...</a> </h6></span>
      <div class="row  col-md-12">
        <div class="col-md-4 col-xs-5 col-xs-offset-1 single"><square></square></div>
        <div class="col-md-4 col-xs-5 col-xs-offset-1 single"><square></square></div>
        <div class="col-md-4 col-xs-5 col-xs-offset-1 "><square></square></div>
      </div>
    </div>  
  </div>
</div>