/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    font-family: 'Arvo', serif;
}
body{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    overflow-x: hidden
}